.container {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.drop-area {
  border: 2px dashed #aaa;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: #777;
  margin-top: 40px;
  font-size: 1.2em;
}

.caption {
  font-size: 1.2em;
  margin-top: 15px;
  font-weight: bold;
  color: #444;
}
